.divA{
    width: 320px;
    height: 320px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color:green;
}
.bouton{
    border: none;
}
.bout{background-color: red;}
.Acheter{background-color: green;}